
.nav-barcs{
    background: black;    
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 35%;
}

i{
    padding-right: 15px;
}

.display{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border: 1px solid grey;
    box-shadow: 5px 5px 8px #888;
    padding-bottom: 15px;
}

.img-top{
    margin-top: 55px;
    width: 250px;
    height: 188px;
}
.img-agenda{
    margin-top: 55px;
    width: 250px;
    height: 188px;
}

.striked{
    text-decoration: line-through;
    color: #ef5350;
}

.real-price{
  padding-left: 10px;
}

.economy{
  display: block;
  font-size: 1.2rem;
  color: #2196f3;
}

table{
    width:650px;
}

.msg-warning {
    font-size: 1.2rem;
    background: #ffcdd2;
    text-align: center;
    box-shadow: 5px 2px 8px #ef9a9a;
}

.fraction {
    margin-top: 10px;
    
    background: #c8e6c9;
    box-shadow: 5px 5px 8px #777;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.frac-total{
    
}
    
.frac-prat{
    font-weight: bold;
}
    
.frac-month{
        
}

.separator {
    text-align: center;
    border: solid 1px grey;
    margin-top: 20px;
    box-shadow: 5px 5px 8px #888;
}

.additional{
    margin-bottom: 40px;    
    font-size: 1.5rem;
}

.sms-ico{
    width: 45px;
    height: 58px;           
}

